<%= button_to "Discover Page", "/discover", method: :get %>
<br>
<div id="results">
  <% if @movies %>
    <% @movies.each do |movie| %>
      <div id="movie-<%=movie.id%>">
        <%= link_to movie.title.to_s, movie_path(movie.id) %>
        Vote Average: <%= movie.vote_average %>
        <br>
      </div>
    <% end %>
  <% else %>
    No results.
  <% end %>
</div>